[default]
#list the names of your targets you wish to build & package
TARGETS = Target1,Target2

[Target1]
BUILD_SCHEME = Distribution
CODE_SIGN_IDENTITY = iPhone Distribution
PROVISIONING_PROFILE = distribution.mobileprovision
ARCHIVE_OUTPUT_DIR = /path/to/your/desired/folder

[Target2]
BUILD_SCHEME = Distribution
CODE_SIGN_IDENTITY = iPhone Distribution
PROVISIONING_PROFILE = distribution-target2.mobileprovision
ARCHIVE_OUTPUT_DIR = /path/to/your/desired/folder